<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title></title>
</head>

<body>
<h1>コメントする</h1>

<form method="post" action="/comment/add">
  <input type="hidden" name="id" value="{{ topic_key }}" /><br />
  <textarea name="body"></textarea>
  <input type="submit" value="コメントする" />
</form>



<hr>
<address></address>
<!-- hhmts start -->Last modified: Mon Mar  8 15:17:33 JST 2010 <!-- hhmts end -->
</body> </html>
