<html>
  <body>
    <ul>
    {% for topic in topics %}
      <li><a href="/topic/view?id={{ topic.key }}">{{ topic.title|escape }}</a></li>
    {% endfor %}
    </ul>

    <form action="/root/guestbook" method="post">
      <div><label>title<input name="title" /></label></div>
      <div><label>body<br /><textarea name="body" rows="3" cols="60"></textarea></label></div>
      <div><input type="submit" value="create Topic"></div>
    </form>

    <a href="{{ auth_url }}">{{ auth_url_linktext }}</a>

  </body>
</html>