<html>
  <body>
    {% for topic in topics %}
      {% if topic.user %}<b>{{ topic.user.nickname }}</b> wrote:{% endif %}
      <h2>{{ topic.title|escape }}</h2>
      <p>{{ topic.body|escape }}</p>
    {% endfor %}

    <form action="/sign" method="post">
      <div><label>title<input name="title" /></label></div>
      <div><label>body<br /><textarea name="body" rows="3" cols="60"></textarea></label></div>
      <div><input type="submit" value="create Topic"></div>
    </form>

    <a href="{{ auth_url }}">{{ auth_url_linktext }}</a>

  </body>
</html>